p {font-family:Montserrat;color: white;}
h2{font-family:Montserrat;}
h1{font-family:Montserrat;}
button{color:white; font-family: Montserrat;}
body{
	background: url(images/4.jpg);
}
.form_input,
.form_button{
	font-family:Montserrat;
	letter-spacing: 1px;
	font-size: 16px;
}

.form_button{
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	color: #fff;
	background-color: #8A2BE2;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}
